# Logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env

# VS Code settings
.vscode/

# ignore all DS_Store files created by mac os
**/.DS_Store
